<!DOCTYPE html>

<html>

	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<div class="post-body">
			<% if(isAuthenticated) { %>
				<a href="/posts/write">
					<button type="button" class="w3-btn w3-blue-grey button-size user-detail-margin">
						Write
					</button>
				</a>
			<% } %>

			<% if(posts == null || posts.length == 0) { %>
				<div class="w3-container">
					No Post yet
				</div>
			<% } else { posts.forEach(function(post) { %>
			<div class="w3-card-4 post-card">
				<header class="w3-container w3-blue-grey">
					<h3 class="text-ellipsis"><b><%= post.title %></b></h3>
				</header>

				<div class="w3-container post-each-card">
					<h5 class="text-ellipsis"><%= post.content %><h5>
				</div>

				<div class="w3-container">
					<%= post.createdDate %>, <%= post.createdTime %>
				</div>

				<div class="w3-container w3-light-grey">
					<p class="post-writer">written by <b><%= post.author.username %></b></p>
					<% if(isAuthenticated && (currentUser.id == post.author.id)) { %>
						<a class="post-icon" href='/posts/<%= post._id %>/edit'>
							<i class="material-icons">edit</i>
						</a>
						<form class="post-icon" action="/posts/<%= post._id %>?_method=delete" method="post">
							<a href="#" onclick='confirm("Delete this post?") ? this.parentElement.submit() : null;'>
								<i class="material-icons">delete</i>
							</a>
						</form>
					<% } %>
				</div>
			</div>
			<% })} %>
		</div>
		<div class="post-footer"></div>
	</body>
</html>
