<!DOCTYPE html>

<html>

	<head>

	</head>
		<% include ../partials/head %>
	<body>
		<div class="create-account-body">
			<form class="" action="/account/<%= userData.userid %>?_method=put" method="post">
				<div class="edit-account-upper-margin">
					<label for="userid" class="w3-label w3-text-blue-grey">User ID</label>
					<input type="text" id="userid" class="w3-input w3-border w3-sand" name="userid" value="<%= userData.userid %>">
				</div>
				<div class="edit-account-upper-margin">
					<label for="username" class="w3-label w3-text-blue-grey">User Name</label>
					<input type="text" id="username" class="w3-input w3-border w3-sand" name="username" value="<%= userData.username %>">
					<% if(errors.username) { %>
						<span class="w3-text-pink"><%= errors.username.message %></span>
					<% } %>
				</div>
				<div class="edit-account-upper-margin">
					<label for="email" class="w3-label w3-text-blue-grey">E-mail</label>
					<input type="text" id="email" class="w3-input w3-border w3-sand" name="email" value="<%= userData.email %>">
				</div>
				<div class="edit-account-upper-margin">
					<label for="password" class="w3-label w3-text-blue-grey">Current Password</label>
					<input type="password" id="currentPassword" class="w3-input w3-border w3-sand" name="currentPassword" value="">
					<% if(errors.currentPassword) { %>
						<span class="w3-text-pink"><%= errors.currentPassword.message %></span>
					<% } %>
				</div>
				<div class="edit-account-upper-margin">
					<label for="password" class="w3-label w3-text-blue-grey">New Password</label>
					<input type="password" id="newPassword" class="w3-input w3-border w3-sand" name="newPassword" value="">
					<% if(errors.newPassword) { %>
						<span class="w3-text-pink"><%= errors.newPassword.message %></span>
					<% } %>
				</div>
				<div class="edit-account-upper-margin">
					<label for="passwordConfirmation" class="w3-label w3-text-blue-grey">Password Confirm</label>
					<input type="password" id="passwordConfirmation" class="w3-input w3-border w3-sand" name="passwordConfirmation" value="">
					<% if(errors.passwordConfirmation) { %>
						<span class="w3-text-pink"><%= errors.passwordConfirmation.message %></span>
					<% } %>
				</div>
				<div class="edit-account-upper-margin">
					<button type="submit" class="w3-btn w3-blue-grey button-size" name="button">Modify</button>
				</div>
			</form>
		</div>
	</body>

</html>
